.actionBtns{
    width: 45.8%;
    background-color: green;
    
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  }
  .actionBtn{
    padding: 1em;
  width: 50%;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
    
  }
  .moveBtn{
    position: absolute;
    width: 50%;
    height: 90%;
    margin: 2px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #fff;
    font-size: 0.8em;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      transform: translateX(0);
    transition: all 0.7s ease-in-out;
  }
  .rightBtn{
    transform: translateX(98%);
    transition: all 0.7s ease-in-out;
  }
  @media (min-width: 2000px){
    .actionBtns{
      width: 33.8%;
      background-color: green;
    }
}

@media (max-width: 570px) {
    .actionBtns{
      width: 100%;
      background-color: green;
      
    }
}

@media (max-width: 1368px) {

    .actionBtns{
      width: 69.8%;
      background-color: green;
    }
    
    }
    